@import '../styles/color.css';

.certification-section {
    min-height: 800px;
    background-color: #000;
    background-image: url("/websiteimg/certificationBg.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center right;
    position: relative;
    padding: 60px 0;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.certification-content {
    width: 100%;
    max-width: 1400px;
    display: flex;
    position: relative;
    padding: 0 5%;
    z-index: 5;
}

/* LEFT SIDE INFO */
.company-info {
    width: 35%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-top: 100px;
    z-index: 10;
}

.sub-heading {
    font-size: 1.5rem;
    font-weight: 600;
    text-transform: uppercase;
}

.main-heading {
    font-size: 3rem;
    font-weight: 800;
    text-transform: uppercase;
}

.whiteGredient {
    background: linear-gradient(90deg, #808080 0%, #fcfcfb 50%, #808080 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.highlight-para {
    display: flex;
    gap: 15px;
    color: #d0d0d0;
    max-width: 350px;
}

.accent-border {
    width: 12px;
    background-color: #f59e0b;
    height: 75px;
    border-radius: 10px;
    flex-shrink: 0;
}

.detailed-description {
    font-size: 0.75rem;
    max-width: 300px;
    color: #a1a1a1;
    letter-spacing: 1.5px;
    line-height: 1.6;
}

.registration-btn {
    align-self: flex-start;
    padding: 15px 10px;
    display: flex;
    align-items: center;
    gap: 12px;
    font-weight: bold;
    position: relative;
    width: 250px;
    cursor: pointer;
}

.registration-btn .btn-content {
    position: absolute;
    color: black;
    display: flex;
    left: 50%;
    top: 50%;
    gap: 10px;
    transform: translate(-50%, -50%);
    width: 100%;
    display: flex ;
    justify-content: center;
    align-items: center;
}

.registration-btn .btn-content .registration-icon img{
    width: 25x !important;
    height: 25px !important;
}
/* CENTER VISUAL */
.certificate-visual {
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.visual-stack {
    position: relative;
    height: 380px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}


/* BOTTOM BUTTON */
.bottom-action {
    position: absolute;
    bottom: 6%;
    left: 48%;
    width: fit-content;
    transform: translate(-50%, -50%);

    margin: 0px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.show-cert-btn {
    border-radius: 50px;
    padding: 10px 30px;
    font-weight: 500;
    transition: 0.3s;
    background: linear-gradient(#000, #000) padding-box,
        linear-gradient(135deg, #facc15, #895b0c, #311804) border-box;
    border: 2px solid transparent;
    color: var(--primary-text-color);
    cursor: pointer;
}

.show-cert-btn:hover {
    background: linear-gradient(135deg, #facc15, #f59e0b);
    color: #000;
}

.certificate-img {
    width: 220px;
    position: absolute;
    top: 0;
    z-index: 2;
}

.badge-icon {
    width: 80px;
    position: absolute;
    top: 120px;
    left: 65%;
    z-index: 99;
}

.id-box-container {
    position: relative;
}

.box-base {
    width: 320px;
    height: auto;
}

.id-text-overlay {
    position: absolute;
    top: 60%;
    width: 100%;
    text-align: center;
    color: #000;
}

.id-text-overlay h1 {
    font-size: 1.5rem;
    font-weight: 800;
}

.id-text-overlay p {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 0.7rem;
    color: rgba(0, 0, 0, 0.7);
}

/* RIGHT FEATURES */
.features-list {
    width: 35%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding-top: 120px;
}

.feature-box {
    background-image: url("/websiteimg/rightBox.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 350px;
    height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 30px 0 60px;
    position: relative;
}

.diamond-container {
    position: absolute;
    left: 15px;
    border: 1px solid #4e4e4e;
    padding: 3px;
    border-radius: 8px;
    transform: rotate(45deg);
}

.diamond-shape {
    width: 20px;
    height: 20px;
    background-color: var(--primary-dark-color);
    border-radius: 5px;
}

.feature-title {
    font-size: 1rem;
    text-transform: uppercase;
    color: var(--primary-text-color);
    letter-spacing: 1px;
}

.feature-desc {
    font-size: 0.7rem;
    color: rgba(121, 121, 121, 0.9);
    margin-top: 5px;
}


/* ======= RESPONSIVE (Mobile & Tablet) ======= */

@media (max-width: 1024px) {
    .certification-section {
        background-size: cover;
        background-position: center;
        min-height: auto;
        padding-bottom: 100px;
    }

    .registration-btn {
        margin: 0px auto;
    }

    .certification-content {
        flex-direction: column;
        align-items: center;
        gap: 50px;
    }

    .company-info {
        width: 100%;
        align-items: center;
        text-align: center;
        padding-top: 20px;
    }

    .highlight-para {
        justify-content: center;
        text-align: left;
    }

    .certificate-visual {
        width: 100%;
        transform: scale(0.9);
    }

    .features-list {
        width: 100%;
        align-items: center;
        padding-top: 20px;
    }

    .feature-box {
        width: 100%;
        max-width: 340px;
        background-size: 100% 100%;
    }

    .bottom-action {
        position: relative;
        transform: none;
        left: 0;
        margin-top: 40px;
        display: flex;
        justify-content: center;
    }
}

@media (max-width: 480px) {

    /* CENTER VISUAL */
    .certificate-visual {
        height: 200px;
    }

    .visual-stack {
        height: 280px;
    }

    .certification-section {
        background-position: 70% center;
    }

    .main-heading {
        font-size: 2.5rem;
    }

    .certificate-img {
        width: 160px;
    }

    .box-base {
        width: 260px;
    }

    .id-text-overlay h1 {
        font-size: 1.1rem;
    }
}