:root {
    /* Brand colors */
    --bg-color-1: #8d29f1;
    --bg-color-2: #8413f6;
    --bg-color-3: #5608a4;

    /* Text color */
    --text-color-1: #902df4;
    --text-color-2: #480f81;
    --text-color-3: #430680;
    --text-dark: #2e015c; 
    
    /* Border color */
    --border-color-1: #902df4;
    --border-color-2: #480f81;
    --border-color-3: #430680;
    
    /* Neutral */
    --text-gray-1: #858586eb;
    --text-white: #ffffff;
    --black: #000000;
    --gray-100: #f5f5f5;
    --gray-500: #9ca3af;
    --gray-900: #111827;

    /* UI */
    /* --bg-soft: rgb(226, 226, 226); */
    --bg-soft: #8820e957;
    --bg-soft-dark: #8126dcc4;


    --border-color: rgba(255, 255, 255, 0.15);
    --text-main: #e5e7eb;
}