.cardContainer {
    background: #d9d9d9;
    background: linear-gradient(180deg,
            #ffffff 50%,
            #f4f4f4 100%);
}

.overlayContent {
    filter: blur(1.5px);
    opacity: 0.7;
}

.overlay {
    position: absolute;
    background-color: #f1f8cb;
    width: 100%;
    height: 55%;
    opacity: 0.6;
    bottom: -10px;
    left: 0;
    border-radius: 0px 0px 20px 20px;
}

.overlay::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    background: #F1F8CB;
    z-index: 1;
    /* 8dc40c */
    background: linear-gradient(90deg, #f1f8cb 0%, #b7ed3b 50%, #f1f8cb 100%);

}

.cardLogo {
    position: absolute;
    left: 50%;
    z-index: 99;
    bottom: -30px;
    transform: translateX(-50%);
}


.followContainer span {
    background: #dbff87;
    background: linear-gradient(0deg, rgba(219, 255, 135, 1) 0%, rgba(59, 82, 6, 1) 100%);
}


.followContainer .follow1::before {
    content: "";
    position: absolute;
    width: 82px;
    height: 2px;
    left: 36%;
    top: 45%;
    background-color: #e0e0e0;
    border-radius: 50px;

}

.followContainer .follow1::after {
    content: "";
    position: absolute;
    width: 123px;
    height: 2px;
    top: 45%;
    left: 53.5%;
    background-color: #e0e0e0;
    border-radius: 50px;

}

.followContainer .follow2::before {
    content: "";
    position: absolute;
    width: 82px;
    height: 2px;
    left: 36%;
    top: 55%;
    background-color: #e0e0e0;
    border-radius: 50px;

}

.followContainer .follow2::after {
    content: "";
    position: absolute;
    width: 125px;
    height: 2px;
    top: 55%;
    left: 53.5%;
    background-color: #e0e0e0;
    border-radius: 50px;

}