.btnContainer .active {
    background: #d5fa7f;
    background: linear-gradient(0deg, rgba(213, 250, 127, 1) 0%, rgba(140, 196, 10, 1) 100%);
}

.container .subTittle {
    background-color: #fff;
    background: linear-gradient(174deg, rgba(255, 255, 255, 1) 0%, rgba(224, 224, 224, 1) 100%);
    
}