.login-container {
    /* Use the generated image here */
    background: url('/websiteimg/loginBg.png');
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    display: flex;
    position: relative;

}

.login-content {
    position: absolute;
    left: 30%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 20px 35px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px;
    width: 100%;
    max-width: 400px;
}

.login-container .header-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1rem;
}

.login-container .header-section .logo img {
    width: 150px;
}

.login-container .header-section .header-description h1 {
    font-weight: 700;
    font-size: 1.5rem;
    color: #e6c805;
    margin-bottom: 0.5rem;
    text-align: center;
}

.login-container .header-section .header-description p {
    font-size: 14px !important;
    text-align: center;
    color: #020202c7;
    max-width: 300px;
    margin: 0px auto;

}

.login-container .login-content .input-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
}

.login-container .login-content .input-container .input-box {
    width: 100%;
}

.login-container .login-content .input-container .input-box .forgot-text {
    color: blue;
}

.login-container .login-content .input-container .input-box .forgot-label {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.login-container .login-content .input-container .input-box label {
    display: block;
    margin-bottom: 4px;
    font-size: 16px;
    color: #e6c805;
    font-weight: 600;
}

.login-container .login-content .input-container .input-box input::placeholder {
    color: rgba(54, 54, 54, 0.589);
}

.login-container .login-content .input-container .input-box input {
    width: 100%;
    outline: none;
    border-radius: 5px;
    padding: 15px 25px;
    color: rgb(54, 54, 54);
    background-color: rgba(124, 124, 124, 0.363);
    border: none;
    font-size: 16px;
    font-weight: 500;
}

.login-container .bottom-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.login-container .bottom-section .btn-content {
    width: 350px !important;
    position: relative;
    margin: 0px auto;
    display: flex;
    justify-content: center;

}

.login-container .bottom-section .btn-content img {
    width: 180px;
    height: 50px;
    margin: 0px auto;
    cursor: pointer;
}

.login-container .bottom-section .btn-content .btn-title {
    position: absolute;
    top: 50%;
    transform: translate(0%, -50%);
    color: black;
    font-weight: 700;
    text-align: center;
    font-size: 18px;
}

.login-container .bottom-section .login-section {
    color: rgba(0, 0, 0, 0.627);
    display: flex;
    font-size: 13px;
    margin-top: 5px;
    font-weight: 500;
}

.login-container .bottom-section .login-section .link {
    color: blue;
    font-size: 15px;
}


@media (max-width: 1024px) {
    .login-content {
        left: 50%;
        padding: 20px;
    }
}

@media (max-width: 768px) {

    .login-container {
        justify-content: center;
        align-items: center;
        padding: 20px;
    }

    .login-content {
        position: relative;  
        left: 0;
        top: 0;
        transform: none;
        width: 100%;
        max-width: 100%;
        padding: 20px;
    }

    .header-description {
        display: none;
    }

    .login-container .bottom-section .btn-content {
        width: 100% !important;
    }

    .login-container .bottom-section .btn-content img {
        width: 100%;
        max-width: 220px;
    }
}
