@import "tailwindcss";


@theme {
  --color-secondary: oklch(20.01% 0.035 270.54);
  --color-hoverBg: linear-gradient(90deg, oklch(55.42% 0.246 261.44), oklch(88.10% 0.123 205.52));
  --shadow-soft: oklch(0,0,360) 0px 1px 3px 0px,
    oklch(14.91,12.38,270.71) 0px 0px 0px 1px;

}