@import "tailwindcss";

html, body {
  height: 100%;
  overflow: hidden;  
}

.custom-scroll {
  overflow-y: auto;
}

/* webkit */
.custom-scroll::-webkit-scrollbar {
  width: 0px;
}

.custom-scroll::-webkit-scrollbar-thumb {
  background: #222;
}

.custom-scroll::-webkit-scrollbar-track {
  background: transparent;
}

/* success Message */
.top-message {
  position: fixed;
  top: -60px;
  left: 50%;
  transform: translateX(-50%);
  background: #222;
  color: white;
  padding: 10px 18px;
  border-radius: 12px;
  font-size: 14px;
  opacity: 0;
  transition: all 0.35s ease;
  z-index: 9999;
}

/* SHOW STATE */
.top-message.show {
  top: 20px;
  opacity: 1;
}
