@import "tailwindcss";

html, body {
  height: 100%;
  overflow: hidden;  
}

.custom-scroll {
  overflow-y: auto;
}

/* webkit */
.custom-scroll::-webkit-scrollbar {
  width: 0px;
}

.custom-scroll::-webkit-scrollbar-thumb {
  background: #222;
}

.custom-scroll::-webkit-scrollbar-track {
  background: transparent;
}
