.promo-card-section {
    position: relative;
    overflow: hidden;
}

.promo-card-section .promo-bg-card img {
    position: relative;
    width: 350px;
    /* height: 400px; */
}

.promo-card-section .promo-card-content {
    position: absolute;
    top: 5%;
    display: flex;
    width: 100%;
    height: 100%;
}

.promo-card-section .promo-card-content .promo-header {
    display: flex;
    margin: 10px auto;
}

.promo-card-section .promo-card-content .promo-header h1 {
    font-size: 22px;
    font-weight: 600;
    background: linear-gradient(90deg, #8e8e8e 0%, #ffffff 50%, #656565 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.promo-card-content .promo-header .percentage {
    color: #fcd34d;
    margin-left: 10px;
    font-weight: 700;
    font-size: 15px;
}

.promo-card-content .promo-header .icon {
    color: #fcd34d;
    margin-left: 8px;
}


.promo-card-section .current-rate {
    background-color: rgba(255, 255, 255, 0.04);
    border: 1.5px double #8e8e8e;
    position: absolute;
    border-radius: 10px;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 110px;
}

.current-rate .current-rate-content {
    display: flex;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}


.current-rate .current-rate-content .middle-info {
    position: absolute;
    top: 40%;
    transform: translateY(-50%);
    gap: 10px;
    justify-content: center;
    align-items: center;
    display: flex;
}

.current-rate .current-rate-content .percentage-to {
    display: flex;
    font-weight: 600;
    font-size: 30px;
    color: #fcd34d;
}

.current-rate .current-rate-content .middle-info .current-rate-icon {
    width: 40px !important;
    height: 40px;
}

.current-rate .desc-info {
    position: absolute;
    bottom: -20px;
    background-color: black;
    border: 2px solid #8e8e8e;
    font-size: 10px;
    font-weight: 500;
    text-align: center;
    border-radius: 20px;
    width: 120px !important;
    padding: 5px 7px;
}

.promo-card-section .button {
    position: absolute;
    bottom: 15%;
    width: 100px;
    height: auto;
    left: 50%;
    transform: translate(-50%, 0%);
    cursor: pointer;
}

.promo-card-section .button img {
    width: 150px;
    height: 40px;
}

.promo-card-section .button h5 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: black;
    font-weight: 600;
    font-size: 15px;
}

.promo-card-section .button .link {
    text-decoration: none;
    color: black;
}

@media (max-width: 1024px) {

    .promo-card-section .promo-bg-card img {
        width: 100%;
        margin-bottom: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .promo-card-section .button img {
        width: 150px;
        height: 40px;
    }
}