/* Main Wrapper */
.statistics-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

/* Tabs Wrapper */
.tabs-wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 32px;
  max-width: 100%;
  padding: 0px 1rem;
}

/* Hide scrollbar */ 
 

.tabs-wrapper {
  -ms-overflow-style: none;
}

/* Tabs Container */
.tabs-container {
  display: flex;
  gap: 15px;
  padding: 4px;
  overflow-x: auto;
}

/* Tab Button Base */
.tab-btn {
  padding: 8px 10px;
  font-size: 12px;
  height: 36px;
  min-width: 100px;
  border-radius: 8px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.12em;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
}

/* Active Tab */
.tab-active {
  background: linear-gradient(to bottom,
      #fcd34d,
      #f59e0b);
  color: #000;
  border: none;
}

/* Inactive Tab */
.tab-inactive {
  background: transparent;
  color: #fcd34d;
  border: 1px solid rgba(252, 211, 77, 0.3);
}



/* Medium screens */
@media (min-width: 768px) {
  .stats-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}