.our-facility .heading-section p{
    font-size: 18px;
    color: rgb(151, 153, 148);
    font-weight: 500;
}

.our-facility .sub-title{
    color: #5b9c06 !important;
}

.success-title{
    color: #5b9c06;
}

.roadmap-content .dot{
    background-color: #5b9c06 !important;
}

.ActiveCardBgGradient {
    background: #6849f2;
    background: linear-gradient(150deg,
            #5b9c06 15%,
            #80cc1c 50%,
            #88c934 55%,
            #c5f928 100%);
}

.inActiveCardBg {
    background: linear-gradient(174deg,
            rgb(255, 255, 255) 0%,
            rgb(242, 242, 242) 100%);
    border: 1px solid rgb(222, 222, 222);
}

.cardSubtitle {
    background: linear-gradient(174deg,
            #ffffff 0%,
            #d8d8d8 100%);
}


.FeatureSubtitle {
    background: linear-gradient(182deg,
            rgba(242, 242, 242, 1) 0%,
            rgba(235, 232, 232, 1) 99%,
            rgb(253, 253, 253) 100%,
            rgb(235, 235, 235) 100%);
}

.textGredient {
    background: linear-gradient(to left,
            #1f3d1f 0%,
            #6fae4f 45%,
            #8bcf63 50%,
            #6fae4f 55%,
            #1f3d1f 100%);

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

