@import './styles/color.css';

.btnGradient {
    background: linear-gradient(180deg,
            var(--bg-color-1) 25%,
            var(--bg-color-2) 50%,
            var(--bg-color-3) 100%
    );
    color: white;
    /* pill shape */
}

.ActiveCardBgGradient {
    background: #6849f2;
    background: linear-gradient(180deg,
            #6849f2 0%,
            #7716d9 50%,
            #7b06f3 100%);
}

.inActiveCardBg {
    background: linear-gradient(174deg,
            rgb(255, 255, 255) 0%,
            rgb(242, 242, 242) 100%);
    border: 1px solid rgb(222, 222, 222);


}

.cardSubtitle {
    background: linear-gradient(174deg,
            #ffffff 0%,
            #d8d8d8 100%);
}


.FeatureSubtitle {
    background: linear-gradient(182deg,
            rgba(242, 242, 242, 1) 0%,
            rgba(235, 232, 232, 1) 99%,
            rgb(253, 253, 253) 100%,
            rgb(235, 235, 235) 100%);
}


.textGredient {
    /* background: linear-gradient(90deg, #233c02, #7fb00c, #254701); */
    background: linear-gradient(90deg,
            var(--text-color-1) 0%,
            var(--text-color-2) 50%,
            var(--text-color-3) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    /* color: transparent; */
    background-color: blue;
}


.heroTextHeading {
    background: linear-gradient(90deg,
            var(--text-color-1) 0%,
            var(--text-color-2) 50%,
            var(--text-color-3) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
}


.slick-slider {
    overflow: hidden;
    height: auto !important;
}

.slick-list {
    overflow: hidden;
}

.slick-track {
    display: flex !important;
    align-items: stretch;
}


.slick-slide>div {
    /* border: 1px solid black; */

    width: 300px !important;
    /* width: 220px; */
    display: flex;
    justify-content: center !important;
    align-items: center !important;
}