@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Oxanium:wght@200..800&family=Saira:ital,wght@0,100..900;1,100..900&display=swap');



:root {
  /* TEXT PRIMARY COLOR  */
  --text-secondary-color: #505056;
  --text-primary-color: #635BFF;

  /*ACTIVE BACKGROUND COLOR  */
  --bg-primary-color: #635BFF;

  /*HOVER BACKGROUND COLOR  */
  --hover-bg-color: #f2f4f6;
}


.manrope-fontFamliy {
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
}

/* Custom CSS class for styling the scrollbar */

.sliding-panel-scroll::-webkit-scrollbar {
  width: 5px;
}

.sliding-panel-scroll::-webkit-scrollbar-track {
  background: #e9e9e9;
}

.sliding-panel-scroll::-webkit-scrollbar-thumb {
  background: #959595;
}

.sliding-panel-scroll::-webkit-scrollbar-thumb:hover {
  background: #6d6d6d;
}

.scrollbar-thin::-webkit-scrollbar {
  width: 6px;
}

/* Firefox */
.scrollbar-thin {
  scrollbar-width: thin;
}

.scrollbar-thin::-webkit-scrollbar-track {
  background: #635BFF;
  /* Darker thumb for visibility */
  border-radius: 2px;
  /* Rounded edges for the thumb */

}

/* BUTTON BORDER ANIMATION */


/* BORDER DRAW CONTAINER */

/* Remove default border on hover */
.group:hover {
  border-color: transparent;
}

/* Animated border wrapper */
.border-anim {
  position: absolute;
  inset: 0;
  pointer-events: none;
}

/* Common */
.border-anim span {
  position: absolute;
  background-color: #635BFF;
  display: block;
}

/* ===== DEFAULT (hover OUT reverse order) ===== */

/* TOP */
.border-anim .top {
  top: 0;
  left: 0;
  height: 4px;
  width: 0;
  transition: width 0.3s ease;
  transition-delay: 0.9s;
}

/* RIGHT */
.border-anim .right {
  top: 0;
  right: 0;
  width: 4px;
  height: 0;
  transition: height 0.3s ease;
  transition-delay: 0.6s;
}

/* BOTTOM */
.border-anim .bottom {
  bottom: 0;
  right: 0;
  height: 4px;
  width: 0;
  transition: width 0.3s ease;
  transition-delay: 0.3s;
}

/* LEFT */
.border-anim .left {
  bottom: 0;
  left: 0;
  width: 4px;
  height: 0;
  transition: height 0.3s ease;
  transition-delay: 0s;
}

/* ===== HOVER IN (clockwise draw) ===== */

.group:hover .border-anim .top {
  width: 100%;
  transition-delay: 0s;
}

.group:hover .border-anim .right {
  height: 100%;
  transition-delay: 0.3s;
}

.group:hover .border-anim .bottom {
  width: 100%;
  transition-delay: 0.6s;
}

.group:hover .border-anim .left {
  height: 100%;
  transition-delay: 0.9s;
}

/* CUSTOM BOX SHADOW */

.boxShadow {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}


/* CAROUSEL CSS  */
.slick-center {
  /* transform: scale(1.05); */
}

.slick-slide {
  padding: 0 10px;
}

.slick-slide>div {
  width: auto !important;
  /* width: 220px; */
  display: flex;
  justify-content: center;
}


.slick-list,
.slick-track,
.slick-slide,
.slick-slide>div {
  height: 100%;
}


@keyframes zoomIn {
  from {
    transform: scale(0.9);
    opacity: 0;
  }

  to {
    transform: scale(1);
    opacity: 1;
  }
}

.animate-zoom {
  animation: zoomIn 0.3s ease-out;
}