.main-profile-container {
    /* border: 1px solid red; */
}


.main-profile-container .heading {
    font-size: 2.5rem !important;
}

.profile-tab-container {
    background-color: linear-gradient(90deg,
            rgba(194, 225, 20, 0.9) 25%,
            rgba(129, 203, 17, 0.9) 50%,
            rgba(243, 239, 17, 0.9) 100%, );

    border: 2px solid #515050;
    border-radius: 8px;
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    padding: 25px 40px;
    margin-bottom: 40px;
}


.profile-tab-container .profile-tab {
    border: 2px solid #ebba07;
    color: #dbac03;
    cursor: pointer;
    padding: 7px 20px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-weight: 600;
}


.profile-tab-container .profile-tab .icon {
    font-size: 25px;
}

.profile-tab-container .profile-tab .tab-name {
    font-size: 16px;

}

.profile-tab-container .active-tab {
    background-color: #ebba07;
    color: black;
}

.profile-info-show {
    border: 2px solid #515050;
    padding: 20px 30px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.profile-info-show .title {
    background: linear-gradient(90deg, rgba(168, 144, 56, 1) 0%, rgba(156, 124, 8, 1) 50%, rgba(235, 186, 7, 1) 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 2rem;
    font-weight: 600;
    border-bottom: 5px dotted #ebba07;
    margin-bottom: 20px;
}

.profile-info-show .info-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    gap: 40px;
    padding: 2rem 2.5rem;

}

.profile-info-show .info-container .info-tab {
    display: flex;
    flex-direction: column;
    background-color: rgba(81, 81, 80, 0.489);
    box-shadow: rgba(250, 250, 3, 0.525) 0px 0px 0px 1.6px, rgb(81, 81, 80) 0px 0px 0px 1px inset;
    padding: 25px 25px;
    gap: 10px;
    border-radius: 10px;
}


.profile-info-show .info-container .info-tab label {
    font-size: 17px;
    font-weight: 500;
    color: #ebba07;
}

.profile-info-show .info-container .info-tab input,
select {
    padding: 10px;
    color: rgb(235, 186, 7);
    border: none;
    background-color: transparent;
    border: 2px solid rgba(235, 186, 7, 0.638);
    outline: none;
    font-size: 14px;
    border-radius: 8px 10px;

}
.profile-info-show .info-container .info-tab select,option{
    font-weight: 600;
    background-color: #7e6304d5;
    padding: 10px;
    cursor: pointer;
}