@import "tailwindcss";

html,
body {
  margin: 0;
  padding: 0;
  min-height: 100%;
  background-color: #000;
}

body::-webkit-scrollbar {
    width: 5px;
}

body::-webkit-scrollbar-track {
    background: rgba(44, 255, 178, 0.2);
    /* path color */
    border-radius: 10px;
}

body::-webkit-scrollbar {
    width: 5px;
}

body::-webkit-scrollbar-thumb {
    background-color: #2cffb2;
    border-radius: 50%;
    height: 10px;
    width: 10px;
    /* 👈 DOT size */
    box-shadow:
        0 0 6px #2cffb2,
        0 0 12px rgba(44, 255, 178, 0.6);
}

@theme {
    --color-primary: oklch(88.69% 0.188 161.65)
}