.footerContainer {
    background: url('/public/websiteimg/footerBg.png');
    height: 300px;
    background-position: center;
    position: relative;
}


.footerContent .rightSideDesc {
    background: linear-gradient(90deg, rgb(67, 67, 67) 0%, rgba(250, 250, 250, 1) 50%, rgb(65, 65, 65) 100%) !important;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent !important;
    background-clip: text !important;
}

.footerContainer .footerContent .contentSection .middleSection h1 {
    background: linear-gradient(90deg, rgb(119, 119, 119) 0%, rgba(250, 250, 250, 1) 50%, rgb(65, 65, 65) 100%) !important;
    /* color: red; */
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent !important;
    background-clip: text !important;
}