/* Dashboard CSS */
.dashboard-page-container{
    max-width: 1600px;
    margin: 0px auto;
    padding: 40px;
}  
.dashboard-top-section {
    display: flex;
    gap: 20px;
}

.dashboard-bottom-section {
    margin-top: 2rem;
    display: flex;
    width: 100%;
    gap: 1rem;
    justify-content: space-between;
    overflow-x: hidden;
    
}

@media (max-width: 1024px) {
    .dashboard-top-section {
        flex-direction: column;
    }

    .dashboard-bottom-section {
        flex-wrap: wrap;
        gap: 1.5rem;
        justify-content: center;
        align-items: center;
    }

    .bottom-left,
    .bottom-right {
        width: calc(100%, -10px);
        width: 100%;
        margin: 0px auto;
    }

    .bottom-middle {
        width: 100%;
        order: 2;
    }

    .bottom-left {
        order: 1;
    }

    .bottom-right {
        order: 1;
    }
}