* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background-color: black;
  color: #fff;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

::-webkit-scrollbar {
  scrollbar-color: #fbbf24 transparent;
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: #0a0a0a;
}

/* thumb (scroll handle) */
::-webkit-scrollbar-thumb {
  background: linear-gradient(
    180deg,
    #fbbf24,
    #eab308
  );
  border-radius: 10px;
}


/* hover effect */
::-webkit-scrollbar-thumb:hover {
  background: #f59e0b;
}

/* This class is used in multipel components like ROI Mathcing Direct Income etcc */
.table-container{
  padding: 1rem 2rem;
}