.deposit-section .heading {
    font-size: 32px;
    background: linear-gradient(90deg, #efefef 0%, #767676 50%, #d1d1d1 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.deposit-content {
    max-width: 600px;
    margin: 2rem auto;
    display: flex;
    flex-direction: column;
}

.deposit-content h2 {
    font-size: 20px;
    text-align: center;
    margin-bottom: 40px;
    font-weight: 600;
    color: #fbbf24;
}

.deposit-content .deposit-info-box {
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.deposit-content .deposit-info-box .deposit-info {
    display: flex;
    flex-direction: column;
    position: relative;
}

.deposit-content .deposit-info-box .deposit-info label {
    position: absolute;
    color: rgb(87, 87, 87);
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    letter-spacing: 2px;
    font-weight: 500;
    text-align: left;
    transition: all 0.5s;

}

.deposit-content .deposit-info-box .deposit-info input {
    padding: 15px 20px;
    font-size: 15px;
    color: #fbbf24;
    outline: none;
    border-radius: 8px;
    font-weight: 500;
    width: 100%;
    background-color: black;
    border: 2px solid rgba(87, 87, 87, 0.8);
    transform: all 0.3;
}

.deposit-content .deposit-info-box .deposit-info input:focus+label {
    top: -1px;
    left: 10px;
    background-color: black;
    padding: 0px 10px;
    color: rgba(249, 188, 4, 0.999);
    transition: all 0.5s;
}

.deposit-content .deposit-info-box .deposit-info input:focus {
    top: -1px;
    color: rgba(249, 188, 4, 0.999);
    transition: all 0.5s;
    border: 2px solid rgba(202, 153, 6, 0.851);
    box-shadow: 0 0 14px rgba(251, 190, 36, 0.645);


}

.button {
    width: 100% !important;
    display: flex;
    gap: 4rem;
}

.button .btn {
    position: relative;
}

.button .btn:hover img {
    transition: all 0.3s;
    transform: scale(1.1);
}

.button .btn img {
    width: 180px;
    height: 50px;
    cursor: pointer;
    transition: all 0.3s;
}


.button .btn p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 18px;
    cursor: pointer;
    color: black;
    font-weight: 600;
}