.topbar-section {
    background-color: #f5f5f5;


}

.topbar {
    max-width: 1100px;
    display: flex;
    height: 60px;
    align-items: center;
    margin: 0px auto;
    justify-content: space-between;
}

.topbar .left-title {
    /* width: 50%; */
    align-content: center;
    font-size: 16px;
    height: 100%;
    font-weight: 600;
    letter-spacing: 1px;
    word-spacing: 3px;
    color: #313131;

}

.topbar .navbar {
    /* width: 50%; */
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 25px;
}



.topbar .navbar .nav-list .nav-item {
    list-style: none;
    position: relative;
}

.topbar .navbar .nav-list .nav-item .flag-icon {
    width: 25px;
    height: 25px;
}

.topbar .navbar .nav-list .nav-item .nav-link {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    cursor: pointer;
}

.topbar .navbar .nav-link .icon {
    color: #63a008;
    font-weight: 600;
    font-size: 18px;
    margin-top: 2px;
}

.topbar .navbar .nav-list .nav-item .nav-link p {
    font-weight: 600;
    font-size: 15px;
    color: #313131;
}

.topbar .navbar .dropdown-menu {
    position: absolute;
    top: 0%;
    left: -10px;
    min-width: 180px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 8px;
    padding: 10px 0px;
    opacity: 0;
    visibility: hidden;
    transform: translateY(-12px);
    transition:
        opacity 0.25s ease,
        transform 0.25s ease,
        visibility 0s linear 0.25s;
}

.topbar .dropdown:hover .dropdown-menu {
    display: flex;
    gap: 2px;
    flex-direction: column;
    opacity: 1;
    visibility: visible;
    transform: translateY(12px);

    transition:
        opacity 0.25s ease,
        transform 0.25s ease,
        visibility 0s linear 0s;
}

.topbar .dropdown {
    position: relative;
}

.topbar .dropdown::before {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 14px;
}

.topbar .dropdown-menu li {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 10px 15px;
    font-size: 15px;
}

.topbar .dropdown-menu li:hover {
    background-color: rgb(222, 220, 218);
    cursor: pointer;
    transition: all 0.5s;
}

.topbar-section .login-section {
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
}

.topbar-section .vertical-line {
    width: 1px;
    background-color: #82828287;
    height: 90%;
}

.topbar-section .login-section:hover {
    color: #63a008;
}